header {
    text-align: center;
  }
  
  main {
    margin: 30px;
  }
  
  img {
    height: 100px;
  }
  
  /* Task 1 */
  h3 {
    color: blue;
  }
  /* Task 2 */
  .red {
    color: red;
  }
  /* Task 3 */
  img:first-of-type{
    border: 1px solid red;
  }
  /* Task 4 */
  a[href*=".com"] {
    background-color: yellow;
  }
  /* Task 5 */
  #item {
    text-decoration: underline;
  }